a,
a:focus,
a:hover {
  color: #fff;
}


html,
body {
  height: 100%;
  background-color: rgb(0, 100, 128);
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.card,
.jumbotron {
  background-color: rgba(0, 64, 92, .4);
}

pre {
  color: #ff1291;
  text-shadow: 0 .05rem .1rem rgba(0, 64, 92, 0.78);
}